{% extends "base.html" %}

{% block content %}

    <title>Add New Product</title>
    <link rel="StyleSheet" src="styles.css">

    <h2>Add a New Cigarette Brand</h2>
    <form method="POST" class="card-body">
        
        Brand Name: <br><input type="text" name="name" required><br>
        Price (R):<br> <input type="number" name="price" step="0.01" required><br>
        Stock:<br> <input type="number" name="stock" required><br>
        <button type="submit" class="btn btn-success">Add</button>
    </form>

    <br>
    <a href="{{ url_for('dashboard') }}">← Back to Dashboard</a>
{% endblock %}
