<!DOCTYPE html>
<html>
<head>
    <title>Weekly Analytics</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h2>Weekly Sales Analytics</h2>

    {% if most_bought %}
        <p><strong>Most Bought:</strong> {{ most_bought[0] }} ({{ most_bought[1] }} sold)</p>
        <p><strong>Least Bought:</strong> {{ least_bought[0] }} ({{ least_bought[1] }} sold)</p>
    {% else %}
        <p>No purchases in the last 7 days.</p>
    {% endif %}

    <br>
    <a href="/">← Back to Dashboard</a>
  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>

</body>
</html>
