<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_product.css') }}">

</head>
<body>
    <h2>Edit {{ product[1] }}</h2>
    <form method="POST">
        Brand Name: <input type="text" name="name" value="{{ product[1] }}" required><br><br>
        Price (R): <input type="number" name="price" step="0.01" value="{{ product[2] }}" required><br><br>
        Stock: <input type="number" name="stock" value="{{ product[3] }}" required><br><br>
        <button type="submit">Update</button>
    </form>
    <br>
    <a href="/">← Back to Dashboard</a>
</body>
</html>
